.contentContainer{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    align-items: flex-start;
}

.title{
    font-size: 2rem;
    padding-left: 1rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
    background-color: rgb(75, 46, 87);
    color: rgb(224, 213, 228);
    border-top-right-radius: .9rem;
}

.x{
    width: 1.2rem; 
    height: 1.2rem; 
    margin-left: .5rem; 
    margin-top: .5rem;
} 

.x:hover{
    filter: brightness(1.5);
}

.left-side{
    background-color: rgb(224, 213, 228);
    width: 20rem;
    height: 100vh;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 0rem;
}

.right-side{
    width: 100vh;
    height: 100vh;
    cursor: default;
}

.side-list > li{
    /*display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;*/
    font-size: 1.5rem;
    padding: .5rem;
    margin-bottom: .2rem;
    background-color: rgb(238, 227, 241);
}

.side-list > li:hover{
    filter: brightness(.9);
    cursor: pointer;
}