<!-- <link rel="stylesheet" href="../app.component.css"> -->
<body>
    <header>
            <div class="nav-bar">
                <div class="category-selector"><input type="image" (click)="_toggleSidebar()" src="assets/categories.png" id="categories-button"></div>
                <div class="title">{{title}}</div>
                <div class="search-bar">
                    <div (click)="onClickLeftSearch(searchInput)" id="left-search"></div>
                    <input class="search-input" #searchInput>
                    <button class="search-button"><img id="search-icon" src="assets/search-icon.jpg" alt="&#9740;"></button>
                </div>
            </div>
    </header>
</body>
