<!-- <link rel="stylesheet" href="../app.component.css"> -->
<body>
    <header>
            <div class="nav-bar">
                <div class="category-selector"><input type="image" (click)="_toggleSidebar()" src="assets/categories.png" id="categories-button"></div>
                <div class="title">{{title}}</div>
                <div class="search-bar">
                    <div (click)="onClickLeftSearch(searchInput)" id="left-search"></div>
                    <input id="input" class="search-input" #searchInput>
                    <button id="button" (click)="onClickSearch(searchInput)" class="search-button"><img id="search-icon" src="assets/search-icon.jpg" alt="&#9740;"></button>
                </div>
                <div class="cart-div" routerLink="/cart-view">
                    <div class="cart-number">{{cart.size}}</div>
                    <input class="cart-button" type="Image" value="cart" src="assets\cart.png">
                </div>
            </div>
    </header>
</body>
