<div style="text-align: center;">
    <h1 style="margin: 3rem;">Technologies Used:</h1>
    <ul TYPE="square">
        <li>HTML & CSS</li>
        <ul class="inner"><li class="smaller">Needed for all text, cursor changes, colors, shapes, etc.</li></ul>
        <li>Anguler & Node.js</li>
        <ul class="inner"><li class="smaller">Creation of server, routing, services, sidebar, and components</li></ul>
        <li>Typescript</li>
        <ul class="inner"><li class="smaller">Creation of the Cart, Items, Search sorting, etc.</li></ul>
        <li>HttpClient and .json</li>
        <ul class="inner"><li class="smaller">HttpClient was used to parse an internal json file for the list of items and their info/images</li></ul>
    </ul>
</div>