<!-- https://angular.io/tutorial/toh-pt0 -->
<ng-sidebar-container  style="height: 100vh;"> <!-- https://www.npmjs.com/package/ng-sidebar -->
    <ng-sidebar [(opened)]="_opened">
        <!-- Sidebar Contents-->
        <app-sidebar-content (sidebarToggledEvent)="_toggleSidebar()"></app-sidebar-content>
    </ng-sidebar>

    <div ng-sidebar-content #pageContent id="pageContent" style="background-color: white; height: 100vh;">
        <!-- Page Contents-->
        <app-title-bar (sidebarToggledEvent)="_toggleSidebar()"></app-title-bar> <!-- https://stackoverflow.com/questions/43323272/angular-4-call-parent-method-in-a-child-component -->

        <app-heroes></app-heroes>
    </div>
</ng-sidebar-container>